





body{
  background-color: gainsboro!important;
  user-select: none;
}

select {
  margin-bottom: 10px!important;
}

input{
  margin-bottom: 10px!important;
}

label{
  color: gray!important;
}

textarea{
    margin-bottom: 10px!important;
}

.red{
  background-color: red!important;
  border: none!important;
  margin-right: 4px!important;
}

.item{
  background-color: rgba(256,256,256, .4);
  margin-bottom: 10px;
  padding: 10px;
}
.botonEntrar{
  margin: 14px;
}

.button{
  margin-top: auto;
}

p>span{
  font-weight: 200;
}
.sliceAlert{
  color: darkred;
}